USE [taller]
GO
/****** Object:  Table [dbo].[ano]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ano](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[ano] [varchar](25) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_ano] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id] [int] NOT NULL,
	[token] [varchar](32) NOT NULL,
	[categoria] [varchar](25) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
	[direccion] [varchar](25) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[localidad] [varchar](20) NOT NULL,
	[observaciones] [varchar](30) NOT NULL,
	[estatus] [int] NULL,
 CONSTRAINT [PK_clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[idrefaccion] [varchar](20) NOT NULL,
	[idusuario] [varchar](25) NOT NULL,
	[cantidad] [float] NOT NULL,
	[tipomovimiento] [varchar](10) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[observaciones] [varchar](15) NOT NULL,
 CONSTRAINT [PK_inventario] PRIMARY KEY CLUSTERED 
(
	[idrefaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[marca] [varchar](25) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_marca] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordenes]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordenes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[concepto] [varchar](15) NOT NULL,
	[nivelcombustible] [varchar](max) NOT NULL,
	[kilometros] [int] NOT NULL,
	[estatus] [int] NOT NULL,
	[idusuario] [int] NOT NULL,
	[idvehiculo] [int] NOT NULL,
	[idservicio] [int] NOT NULL,
 CONSTRAINT [PK_ordenes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presupuesto]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presupuesto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[concepto] [varchar](15) NOT NULL,
	[idcliente] [int] NOT NULL,
	[idvehiculo] [int] NOT NULL,
	[idrefaccion] [int] NOT NULL,
	[idservicio] [int] NOT NULL,
	[descripcion] [varchar](25) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_presupuesto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[razonsocial] [varchar](25) NOT NULL,
	[rfc] [varchar](20) NOT NULL,
	[telefono] [varchar](15) NOT NULL,
	[email] [varchar](35) NOT NULL,
	[fecha_crea] [datetime] NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_proveedores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refacciones]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refacciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[codigo] [varchar](15) NOT NULL,
	[nombre] [varchar](15) NOT NULL,
	[unidadmedida] [varchar](max) NOT NULL,
	[marca] [varchar](15) NOT NULL,
	[stock] [int] NOT NULL,
	[proveedor] [varchar](15) NOT NULL,
	[preciocompra] [float] NOT NULL,
	[precioventa] [float] NOT NULL,
	[descripcion] [varchar](25) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_refacciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[nombreservicio] [varchar](20) NOT NULL,
	[costomobra] [int] NOT NULL,
	[descripcion] [varchar](30) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_servicio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telefono]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telefono](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_telefono] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
	[correo] [varchar](25) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculo]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](32) NOT NULL,
	[tipo] [varchar](max) NOT NULL,
	[idano] [int] NOT NULL,
	[idmarca] [int] NOT NULL,
	[placa] [varchar](10) NOT NULL,
	[vin] [varchar](20) NOT NULL,
	[color] [varchar](15) NOT NULL,
	[idcliente] [int] NOT NULL,
	[model] [varchar](30) NOT NULL,
	[estatus] [int] NOT NULL,
 CONSTRAINT [PK_vehiculo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ano] ON 

INSERT [dbo].[ano] ([id], [token], [ano], [estatus]) VALUES (168, N'c1ce6a670f30e84f0040b398c4784a32', N'2024', 1)
INSERT [dbo].[ano] ([id], [token], [ano], [estatus]) VALUES (169, N'6c9795e14396ceffa94d64fb8892037f', N'2021', 1)
INSERT [dbo].[ano] ([id], [token], [ano], [estatus]) VALUES (171, N'a416c99dc8d018dcdcadd262010cb337', N'2025', 1)
SET IDENTITY_INSERT [dbo].[ano] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [token], [nombre], [direccion], [telefono], [localidad], [observaciones], [estatus]) VALUES (18, N'6ac6dcbeebcbd0b247fe9b7b5813c708', N'cupertino diez', N'cliente uno', N'2487850110', N'cuacnopalan', N'no hay', 1)
INSERT [dbo].[clientes] ([id], [token], [nombre], [direccion], [telefono], [localidad], [observaciones], [estatus]) VALUES (19, N'40baa570707dddf9a27dcc06b91b2c50', N'alan robles', N'n cliene', N'2487596002', N'cuacnopalan', N'no hay desc', 1)
INSERT [dbo].[clientes] ([id], [token], [nombre], [direccion], [telefono], [localidad], [observaciones], [estatus]) VALUES (20, N'e3691d697f2a4cb6f6291c9544374b2b', N'jose carlos', N'  direccion', N'2381000014', N'cuacnopalan', N'no ', 1)
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[marca] ON 

INSERT [dbo].[marca] ([id], [token], [marca], [estatus]) VALUES (1010, N'd00867667bc907a44977f0d388b7cc79', N'ford', 1)
INSERT [dbo].[marca] ([id], [token], [marca], [estatus]) VALUES (1011, N'2ca7225b4ac0d90d846c248f6ccb4437', N'honda', 1)
INSERT [dbo].[marca] ([id], [token], [marca], [estatus]) VALUES (1012, N'98a75df4f068947dd9cbaf822f35cdc2', N'nissan', 1)
SET IDENTITY_INSERT [dbo].[marca] OFF
GO
SET IDENTITY_INSERT [dbo].[ordenes] ON 

INSERT [dbo].[ordenes] ([id], [token], [fecha], [concepto], [nivelcombustible], [kilometros], [estatus], [idusuario], [idvehiculo], [idservicio]) VALUES (1, N'6f9f8ec0ae38cb0cc9bcd9156803205b', CAST(N'2024-07-14T22:42:10.0000000' AS DateTime2), N'Revision', N'No funciona', 158485, 0, 33, 22, 1)
INSERT [dbo].[ordenes] ([id], [token], [fecha], [concepto], [nivelcombustible], [kilometros], [estatus], [idusuario], [idvehiculo], [idservicio]) VALUES (2, N'4bda954008cebd4286d543a6323fd5ef', CAST(N'2025-05-05T19:28:19.0000000' AS DateTime2), N'Servicio', N'1/2', 10, 1, 86, 6, 7)
INSERT [dbo].[ordenes] ([id], [token], [fecha], [concepto], [nivelcombustible], [kilometros], [estatus], [idusuario], [idvehiculo], [idservicio]) VALUES (3, N'8d7f83f499940206b507856b07e17712', CAST(N'2025-05-05T19:28:56.0000000' AS DateTime2), N'Otros', N'No funciona', 150, 1, 58, 26, 1)
SET IDENTITY_INSERT [dbo].[ordenes] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedores] ON 

INSERT [dbo].[proveedores] ([id], [token], [razonsocial], [rfc], [telefono], [email], [fecha_crea], [estatus]) VALUES (8, N'5fd125de516a86472285ecd782e4fbd0', N'tc del centro 2', N'tcsadsa132', N'2548951000', N'erek009+nomax15er@3r1c009.xyz', NULL, 1)
INSERT [dbo].[proveedores] ([id], [token], [razonsocial], [rfc], [telefono], [email], [fecha_crea], [estatus]) VALUES (9, N'6910ba0f8610de16bb58d031c8cfb52b', N'roshfrans', N'roms21501s', N'22222223510', N'rosh@gmail.com', NULL, 1)
INSERT [dbo].[proveedores] ([id], [token], [razonsocial], [rfc], [telefono], [email], [fecha_crea], [estatus]) VALUES (10, N'5fd125de516a86472285ecd782e4fbd0', N'tc del centro 2', N'tcsadsa132', N'2548951000', N'erek009+nomax15er@3r1c009.xyz', CAST(N'2025-05-08T20:17:58.363' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[refacciones] ON 

INSERT [dbo].[refacciones] ([id], [token], [codigo], [nombre], [unidadmedida], [marca], [stock], [proveedor], [preciocompra], [precioventa], [descripcion], [estatus]) VALUES (1, N'6593669f8289bdd6a5108d375641533e', N'0256515', N'filtro gasolina', N'Unidad', N'stp', 10, N'AUTOZONE', 48, 65, N'sin comentarios', 1)
INSERT [dbo].[refacciones] ([id], [token], [codigo], [nombre], [unidadmedida], [marca], [stock], [proveedor], [preciocompra], [precioventa], [descripcion], [estatus]) VALUES (5, N'4c041fa8cb391a4d8e26f252589b3355', N'1212', N'filtro aceite', N'Litro', N'ford', 10, N'gonher', 48, 65, N'descripcion del cambio jn', 1)
INSERT [dbo].[refacciones] ([id], [token], [codigo], [nombre], [unidadmedida], [marca], [stock], [proveedor], [preciocompra], [precioventa], [descripcion], [estatus]) VALUES (7, N'8af8a1d2927a15553cd41842a01e700c', N'1313', N'aceite 20w50', N'Litro', N'quaker', 1, N'Quaker', 80, 95, N'no', 1)
SET IDENTITY_INSERT [dbo].[refacciones] OFF
GO
SET IDENTITY_INSERT [dbo].[servicio] ON 

INSERT [dbo].[servicio] ([id], [token], [nombreservicio], [costomobra], [descripcion], [estatus]) VALUES (1, N'83e36c57e56eb8fa5e26fcf1bb63a361', N'cambio aceite', 250, N'nombre', 1)
INSERT [dbo].[servicio] ([id], [token], [nombreservicio], [costomobra], [descripcion], [estatus]) VALUES (4, N'217498c76e72626a71c4a3280545c95b', N'servicio', 100, N'2', 1)
INSERT [dbo].[servicio] ([id], [token], [nombreservicio], [costomobra], [descripcion], [estatus]) VALUES (7, N'7c0d993c6b6fea28680abd28b1a791f3', N'homocineticas nuevas', 150, N'cambio', 1)
SET IDENTITY_INSERT [dbo].[servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [token], [nombre], [correo], [password], [estatus]) VALUES (33, N'c0bc2a5dd1c7d8efe731a4b9a99d1400', N'eric perez flores', N'eric@gmail.com', N'$2a$07$Plu590nEp1uS9Pr0hA55eelqKhjyHSwkfGx6imJOBBrv4bzyAszuy', 1)
INSERT [dbo].[usuarios] ([id], [token], [nombre], [correo], [password], [estatus]) VALUES (45, N'df7db2b490eb922da3a4d7d74a278506', N'marianita silva r', N'marixal@aol.com', N'$2a$07$Plu590nEp1uS9Pr0hA55eencq9ZqU8H0zHdqCOh66mu3bbx1E0nyW', 0)
INSERT [dbo].[usuarios] ([id], [token], [nombre], [correo], [password], [estatus]) VALUES (46, N'a46680bf9babb7ab377480d270664066', N'tobon tobon gabriela', N'tobongaby@gmail.com', N'$2a$07$Plu590nEp1uS9Pr0hA55ee1g8sf4mgHU6K1Fks1m2R4ga2Z/mL68.', 1)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[vehiculo] ON 

INSERT [dbo].[vehiculo] ([id], [token], [tipo], [idano], [idmarca], [placa], [vin], [color], [idcliente], [model], [estatus]) VALUES (2, N'ca1c5c0193098a5171ebd56e1f9c8313', N'Automovil', 33, 3, N'ush5122', N'3h151589se250211', N'rojo', 0, N'coche rines negross
', 1)
INSERT [dbo].[vehiculo] ([id], [token], [tipo], [idano], [idmarca], [placa], [vin], [color], [idcliente], [model], [estatus]) VALUES (6, N'2a72ed48de17feba9bb4aea6bc59a137', N'Camioneta', 169, 1010, N'tua1578', N'2C3CDYBT9EH229923', N'azul', 18, N'6600', 1)
INSERT [dbo].[vehiculo] ([id], [token], [tipo], [idano], [idmarca], [placa], [vin], [color], [idcliente], [model], [estatus]) VALUES (10, N'513d561c681d7c98283662bb4d3e054f', N'Automovil', 167, 1010, N'bua1578', N'sesss30', N'azul', 20, N'f150', 1)
SET IDENTITY_INSERT [dbo].[vehiculo] OFF
GO
ALTER TABLE [dbo].[ano] ADD  CONSTRAINT [DF__ano__estatus__48CFD27E]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[inventario] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[marca] ADD  CONSTRAINT [DF__marca__estatus__4F7CD00D]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[ordenes] ADD  CONSTRAINT [DF__ordenes__fecha__5165187F]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[ordenes] ADD  CONSTRAINT [DF__ordenes__estatus__52593CB8]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[proveedores] ADD  CONSTRAINT [DF_proveedores_estatus]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[refacciones] ADD  CONSTRAINT [DF__refaccion__estat__5535A963]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[servicio] ADD  CONSTRAINT [DF__servicio__estatu__571DF1D5]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[telefono] ADD  CONSTRAINT [DF__telefono__estatu__59063A47]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF__usuarios__estatu__5BE2A6F2]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[vehiculo] ADD  CONSTRAINT [DF__vehiculo__estatu__5DCAEF64]  DEFAULT ((1)) FOR [estatus]
GO
/****** Object:  StoredProcedure [dbo].[actualizarAno]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarAno] ( @inAno INT, @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE ano set ano = @inAno,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarCliente]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarCliente] (@inNombre VARCHAR(25), @inDireccion VARCHAR(25), @inTelefono VARCHAR(10), @inLocalidad VARCHAR(20), @inObservaciones VARCHAR(30), @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
UPDATE clientes set nombre = @inNombre,
            direccion = @inDireccion,
            telefono = @inTelefono,
            localidad = @inLocalidad,
            observaciones = @inObservaciones,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarInventario]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarInventario] ( @inNombre VARCHAR(15), @inMovimiento VARCHAR(10), @inUsuario VARCHAR(35))   AS
   BEGIN
   SET NOCOUNT ON;
  INSERT INTO inventario
 (idrefaccion, tipomovimiento, idusuario)
 VALUES
 (@inNombre, @inMovimiento, @inUsuario);
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarMarca]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarMarca] ( @inMarca VARCHAR(25), @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE marca set marca = @inMarca,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarOrden]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarOrden] ( @inVehiculo INT, @inConcepto VARCHAR(15), @inCombustible VARCHAR(max), @inKilometros INT, @inTecnico INT, @inServicio VARCHAR(15), @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE ordenes set idvehiculo = @inVehiculo,
            concepto = @inConcepto,
            nivelcombustible = @inCombustible,
            kilometros = @inKilometros,
            idusuario = @inTecnico,
            idservicio = @inServicio,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarProveedor]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[actualizarProveedor] ( @inRazonsocial VARCHAR(25),@inRfc VARCHAR(20), @inTelefono VARCHAR(20), @inEmail VARCHAR(35), @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
UPDATE proveedores set razonsocial = @inRazonsocial,
            rfc = @inRfc,
            telefono = @inTelefono,
            email = @inEmail,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarRefaccion]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarRefaccion] ( @inNombre VARCHAR(15), @inUnidad VARCHAR(max), @inMarca VARCHAR(15), @inProveedor VARCHAR(15), @inCompra FLOAT, @inVenta FLOAT, @inDescripcion VARCHAR(25), @inToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE refacciones set nombre = @inNombre,
            unidadmedida = @inUnidad,
            marca = @inMarca,
            proveedor = @inProveedor,
			preciocompra = @inCompra,
            precioventa = @inVenta,
            descripcion = @inDescripcion
            WHERE token = @inToken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarServicio]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarServicio] ( @inNombreservicio VARCHAR(20), @inCostomobra INT, @inDescripcion VARCHAR(30), @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE servicio set nombreservicio = @inNombreservicio,
			costomobra = @inCostomobra, 
            descripcion = @inDescripcion,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarTelefono]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarTelefono] ( @inTelefono VARCHAR(10), @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE telefono set telefono = @inTelefono,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarUsuario]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarUsuario] ( @inNombre VARCHAR(30), @inEmail VARCHAR(25), @inPassword VARCHAR(max), @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE usuarios set nombre = @inNombre,
            correo = @inEmail,
            password = @inPassword,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizarVehiculo]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[actualizarVehiculo] ( @inTipo VARCHAR(max), @inPlaca VARCHAR(10), @inMarca INT, @inModelo VARCHAR(30), @inAno INT, @inVin VARCHAR(20), @inColor VARCHAR(15), @inCliente INT, @inToken VARCHAR(max), @Filtrotoken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE vehiculo set tipo = @inTipo,
            placa = @inPlaca,
            idmarca = @inMarca,
			model = @inModelo,
            idano = @inAno,
            vin = @inVin,
            color = @inColor,
            idcliente = @inCliente,
            token = @inToken
            WHERE token = @Filtrotoken;
END
GO
/****** Object:  StoredProcedure [dbo].[actualizaStockVenta]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[actualizaStockVenta] ( @inCantidad INT, @inRefaccion VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE refacciones 
		SET stock = stock - @inCantidad
		WHERE token = @inRefaccion;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarAnoVehiculo]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[eliminarAnoVehiculo] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE ano 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarCliente]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[eliminarCliente] (@filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE clientes 
    SET estatus = 0 
    WHERE token = @filtroToken;
END

GO
/****** Object:  StoredProcedure [dbo].[eliminarMarca]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[eliminarMarca] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE marca 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarModelo]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[eliminarModelo] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE ano 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarOrden]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[eliminarOrden] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE ordenes 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarProveedor]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[eliminarProveedor] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE proveedores 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarRefaccion]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[eliminarRefaccion] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE refacciones 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarServicio]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[eliminarServicio] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE servicio 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarTelefono]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[eliminarTelefono] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE telefono 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarUsuario]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[eliminarUsuario] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE usuarios 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarVehiculo]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[eliminarVehiculo] ( @filtroToken VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
	UPDATE vehiculo 
    SET estatus = 0 
    WHERE token = @filtroToken;
END
GO
/****** Object:  StoredProcedure [dbo].[insertarAno]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarAno] ( @inToken VARCHAR(max), @inAno INT)   AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO ano
 (token, ano)
 VALUES
 (@inToken, @inAno);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarCliente]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarCliente] ( @inToken VARCHAR(max), @inNombre VARCHAR(25), @inDireccion VARCHAR(25), @inTelefono VARCHAR(10), @inLocalidad VARCHAR(20), @inObservaciones VARCHAR(30))   AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO clientes
 (token, nombre, direccion, telefono, localidad, observaciones)
 VALUES
 (@inToken, @inNombre, @inDireccion, @inTelefono, @inLocalidad, @inObservaciones);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarInventario]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[insertarInventario] ( @inNombre VARCHAR(15), @inStock FLOAT, @inMovimiento VARCHAR(10), @inUsuario VARCHAR(35))   AS
   BEGIN
   SET NOCOUNT ON;
  INSERT INTO inventario
 (idrefaccion, cantidad, tipomovimiento, idusuario)
 VALUES
 (@inNombre, @inStock, @inMovimiento, @inUsuario);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarMarca]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarMarca] ( @inToken VARCHAR(max), @inMarca VARCHAR(25))   AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO marca
 (token, marca)
 VALUES
 (@inToken, @inMarca);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarOrden]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[insertarOrden] ( @inToken VARCHAR(max), @inVehiculo INT, @inConcepto VARCHAR(15), @inCombustible VARCHAR(max), @inKilometros INT, @inTecnico INT, @inServicio VARCHAR(15))   AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO ordenes
 (token, idvehiculo, concepto, nivelcombustible, kilometros, idusuario, idservicio)
 VALUES
 (@inToken, @inVehiculo, @inConcepto, @inCombustible, @inKilometros, @inTecnico, @inServicio);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarProveedor]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarProveedor] ( @inToken VARCHAR(max), @inRazonsocial VARCHAR(25), @inRfc VARCHAR(20), @inTelefono VARCHAR(20), @inEmail VARCHAR(35)) AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO proveedores
 (token, razonsocial, rfc, telefono, email, fecha_crea)
 VALUES
 (@inToken, @inRazonsocial, @inRfc, @inTelefono, @inEmail, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[insertarRefaccion]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarRefaccion] ( @inToken VARCHAR(max), @inCodigo VARCHAR(15), @inNombre VARCHAR(15), @inUnidad VARCHAR(max), @inMarca VARCHAR(15), @inStock INT, @inProveedor VARCHAR(15), @inCompra FLOAT, @inVenta FLOAT, @inDescripcion VARCHAR(25))   AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO refacciones
 (token, codigo, nombre, unidadmedida, marca, stock, proveedor, preciocompra, precioventa, descripcion)
 VALUES
 (@inToken, @inCodigo, @inNombre, @inUnidad, @inMarca, @inStock, @inProveedor, @inCompra, @inVenta, @inDescripcion);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarServicio]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarServicio] ( @inToken VARCHAR(max), @inNombreservicio VARCHAR(20), @inCostomobra INT, @inDescripcion VARCHAR(30))   AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO servicio
 (token, nombreservicio, costomobra, descripcion)
 VALUES
 (@inToken, @inNombreservicio, @inCostomobra, @inDescripcion);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarTelefono]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarTelefono] ( @inToken VARCHAR(max), @inTelefono VARCHAR(10))   AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO telefono
 (token, telefono)
 VALUES
 (@inToken, @inTelefono);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarUsuario]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarUsuario] ( @inToken VARCHAR(max), @inNombre VARCHAR(30), @inCorreo VARCHAR(25), @inPassword VARCHAR(max))   AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO usuarios
 (token, nombre, correo, password)
 VALUES
 (@inToken, @inNombre, @inCorreo, @inPassword);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarVehiculo]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[insertarVehiculo] ( @inToken VARCHAR(max), @inTipo VARCHAR(max), @inPlaca VARCHAR(10), @inMarca INT, @inModelo VARCHAR(30), @inAno INT, @inVin VARCHAR(20), @inColor VARCHAR(15), @inCliente INT ) AS
   BEGIN
   SET NOCOUNT ON;
 INSERT INTO vehiculo
 (token, tipo, placa, idmarca, model, idano, vin, color, idcliente)
 VALUES
 (@inToken, @inTipo, @inPlaca, @inMarca, @inModelo, @inAno, @inVin, @inColor, @inCliente);
END
GO
/****** Object:  StoredProcedure [dbo].[seleccionarInventario]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarInventario] (@nombreTabla VARCHAR(MAX))
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql_text NVARCHAR(MAX);

    -- Crear el texto de la consulta dinámica
    SET @sql_text = N'SELECT * FROM ' + QUOTENAME(@nombreTabla);

    -- Ejecutar la consulta dinámica
    EXEC sp_executesql @sql_text;
END
GO
/****** Object:  StoredProcedure [dbo].[seleccionarRegistro]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarRegistro] (@nombreTabla VARCHAR(MAX), @nombreCampo VARCHAR(MAX), @valor VARCHAR(MAX))
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql_text NVARCHAR(MAX);

    -- Crear la consulta dinámica con los parámetros proporcionados
    SET @sql_text = N'SELECT * FROM ' + QUOTENAME(@nombreTabla) +
                    N' WHERE ' + QUOTENAME(@nombreCampo) + N' = @valor AND estatus = 1 ORDER BY id ASC;';

    -- Ejecutar la consulta dinámica usando sp_executesql y pasando el parámetro @valor
    EXEC sp_executesql @sql_text, N'@valor VARCHAR(MAX)', @valor;
END;

GO
/****** Object:  StoredProcedure [dbo].[seleccionarRegistroOrden]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[seleccionarRegistroOrden]   AS
   BEGIN
   SET NOCOUNT ON;
SELECT t1.id, t1.concepto, t1.nivelcombustible, t1.kilometros, t1.fecha, t1.token, t2.placa, t3.nombreservicio, t4.nombre FROM ordenes t1 INNER JOIN vehiculo t2 ON t1.idvehiculo = t2.id 
INNER JOIN servicio t3 ON t1.idservicio = t3.id  INNER JOIN usuarios t4 ON t1.idusuario = t4.id  where t1.estatus = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[seleccionarRegistros]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarRegistros] (@nombreTabla VARCHAR(MAX))
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql_text NVARCHAR(MAX);

    -- Crear la consulta dinámica
    SET @sql_text = N'SELECT * FROM ' + QUOTENAME(@nombreTabla) + N' WHERE estatus = 1 ORDER BY id ASC;';

    -- Ejecutar la consulta dinámica
    EXEC sp_executesql @sql_text;
END;
GO
/****** Object:  StoredProcedure [dbo].[seleccionarRegistroVehiculo]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[seleccionarRegistroVehiculo]   AS
   BEGIN
   SET NOCOUNT ON;
SELECT t1.tipo, t1.placa, t1.vin, t1.color, t1.model, t1.token, t2.ano, t3.marca, t4.nombre FROM vehiculo t1 INNER JOIN ano t2 ON t1.idano = t2.id 
    INNER JOIN marca t3 ON t1.idmarca = t3.id  INNER JOIN clientes t4 ON t1.idcliente = t4.id  where t1.estatus = 1;

END
GO
/****** Object:  StoredProcedure [dbo].[seleccionarUsuario]    Script Date: 08/05/2025 11:05:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarUsuario]
@correo VARCHAR(50),    
@pass VARCHAR(100)       
AS 
SELECT     
usuarios.id,     
usuarios.nombre,
usuarios.correo,   
usuarios.password
FROM       
usuarios
WHERE    
usuarios.correo = @correo   
AND usuarios.password = @pass
AND usuarios.estatus = 1    
GO
